# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language:	Cpp
# BasedOnStyle: Microsoft

Standard : c++14

IndentWidth : 4
AccessModifierOffset : -4
IndentAccessModifiers : false
PointerAlignment: Left
ReferenceAlignment : Left
ColumnLimit : 0

TabWidth:	4
UseTab:	Never

# 命名空间缩进
NamespaceIndentation : All
CompactNamespaces : false
# 命名空间结束添加 注释 // namespace XXX
FixNamespaceComments : true


IndentWrappedFunctionNames:	false

AlignArrayOfStructures: Left

# public结束后有一个回车
EmptyLineBeforeAccessModifier  : LogicalBlock


BreakConstructorInitializers : BeforeComma
BreakInheritanceList : BeforeComma
# template后面不要有空格
SpaceAfterTemplateKeyword : false

# Cpp11BracedListStyle : false

# AlignEscapedNewlines : DontAlign
# SpaceBeforeCpp11BracedList : true

# AllowAllParametersOfDeclarationOnNextLine : false
SortUsingDeclarations : false
SortIncludes : Never

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction : true
    AfterNamespace : true
    AfterUnion : true
    AfterExternBlock : true
    BeforeElse : true
    BeforeWhile : false
    SplitEmptyFunction : true
    SplitEmptyRecord : true
    AfterCaseLabel : true
    AfterControlStatement: Always
    BeforeLambdaBody : true
    AfterClass  : true
    AfterStruct : true
    AfterEnum : true